* text=auto eol=lf
*.ps1 text eol=crlf
*.py text diff=python
*.md text diff=markdown
*.csv text
README.md linguist-documentation
CHANGELOG.md linguist-documentation
CONTRIBUTING.md linguist-documentation
SECURITY.md linguist-documentation
